
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-height: 999999px;
}

a {
  text-decoration: none;
  outline: none;
}

html {
  background-color: black;
}

.bottom_layer {
  z-index: -1;
}

.centered {
  margin: 0 auto;
  width: 520px;
}

@media screen and (max-width: 521px) {
  .resizable {
   width: calc(100vw - 16px);
  }

  .resizable > * {
    width: inherit;
  }
}

.page_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: black;
}

.page_header a {
  display: flex;
}

.page_header img {

}

.github_logo {
  background: white;
  margin: 5px;
  border-radius: 3px;
  height: 30px;
}

.content {
 margin: 8px;
 display: flex;
 justify-content: space-between;
 color: white;
}

.content_body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.menu_bar {
  display: flex;
}

.menu_divider {
  color: red;
  margin-left: 5px;
  margin-right: 5px;
}

.menu_item{
  cursor: pointer;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.menu_item_active {
  background: white;
  color: black;
}

.text {
  display: block;
}

.text ul {
  list-style: none;
  padding-left: 0;
}

.repo_info {
  font-size: 12px;
  padding-left: 10px;
  display: none;
}

#repos_text li {
  align-items: center;
    margin: 10px 0px;
}

#repos_text a {
  color: black;
  background: white;
  padding: 0px 1px;
  border-radius: 2px;
}

#repos_text a:hover {
  color: white;
  background: #0079FF;
  box-shadow: 0 0 5px 5px #0079FF;
}

.menu_text {
  display: none;
  margin: 8px;
  position: absolute;
}

hr {
  width: 100%;
  margin: 10px auto;
  border: 4px solid #cc0f0f;
  border-radius: 4px;
  box-shadow: 0 0 8px 2px red;
  color: black;
  animation: glow 1.5s ease-in-out infinite;
  -webkit-animation: glow 1.5s ease-in-out infinite;
}

hr::before {
  content: '';
  position: absolute;
  width: calc(100vw - 25px);
  margin: -2px -1px;
  border: 2px solid white;
  border-radius: 2px;
  box-shadow: 0 0 3px white;
  animation: glowMinr 2s ease-in-out;
  -webkit-animation: glowMinor 2s ease-in-out infinite
}

@keyframes glow {
  0%{box-shadow: 0 0 5px 2px red;}
  50%{box-shadow: 0 0 10px 4px red;}
  100%{box-shadow: 0 0 5px 2px red;}
}

@-webkit-keyframes glow {
  0%{box-shadow: 0 0 5px 2px red;}
  50%{box-shadow: 0 0 10px 4px red;}
  100%{box-shadow: 0 0 5px 2px red;}
}

@keyframes glowMinor {
  0%{box-shadow: 0 0 3px white;}
  50%{box-shadow: 0 0 8px white;}
  100%{box-shadow: 0 0 3px white;}
}

@-webkit-keyframes glowMinor {
  0%{box-shadow: 0 0 3px white;}
  50%{box-shadow: 0 0 8px white;}
  100%{box-shadow: 0 0 3px white;}
}
