
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-height: 999999px;
}

a {
  text-decoration: none;
  outline: none;
}

hr {
  margin-top: 5px;
	margin-bottom: 5px;
  border: 1px solid #555;
  display:block;
  background-color: #555;
  height: 1px;
}

.page_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: black;
}

.page_header a {
  display: flex;
}

.page_header img {

}

.github_logo {
  background: white;
  margin: 5px;
  border-radius: 3px;
  height: 30px;
}

.content {
 margin: 8px;
 display: flex;
 justify-content: space-between;
}

.content_body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 8px;
}

.menu_bar {
  display: flex;
}

.menu_divider {
  margin-left: 5px;
  margin-right: 5px;
}

.menu_item{
  cursor: pointer;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.menu_item_active {
  background: lightgray;
}

.text {
  display: block;
}

.text ul {
  list-style: none;
  padding-left: 0;
}

#repos_text li {
  align-items: center;
  margin: 8px;
}

#repos_text a {
  color: black;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 2px;
}

.repo_info {
  font-size: 12px;
  padding-left: 10px;
  display: none;
}

#repos_text a:hover {
  background: orange;
}

#repos_text a:hover + .repo_info {
  display: block;
}

.menu_text {
  display:none;
}

.kylo_and_darth > img {
  border: 2px solid #555;
}

.kylo_and_darth > footer {
 font-family: "Arial", sans-serif;
 font-size: 9px;
 border-radius: 2px;
 background: lightgray;
 width: 320px;
}
